<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                Menu <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-controller="RequestReportCtrl"><a href="#/reqreport">Request</a></li>
            </ul>
        </li>
        <li  ng-controller="MainCtrl"><a href="#" ng-click="logout()">Log Out</a></li>
    </ul>
    <h3 class="text-muted">YukKredit.com</h3>
</div>

<div class="row marketing">
    <div class="row">
        Dashboard
    </div>
</div>

<div class="footer">
    <p>♥ from the BliKredit team</p>
</div>